<html>
  <body>
    <form action="/named-cat" method="get">
      <label for="name">Name:</label>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
    <h1>My name is <%= @name %></h1>
    <img src='http://bit.ly/1eze8aE' style="border: medium dashed red;" />
  </body>
</html>
